#av-popup-wrapper {
    display: block;
    position: relative;
    width: auto;
    max-width: 400px;
    max-height: 800px;
    min-height: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: transparent;
}
.mfp-content {
    max-width: 400px;
}

#av-popup-close-btn {
    background-image: url(../images/close_btn.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2000;
    right: 12px;
}
